<!DOCTYPE html>
<html>
  <head>
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" >
  </head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
 
  <header>
    <div class="containercontainer-fluid">
      <h1 class="logo">Conntroler App</h1>
      <nav>
        <ul class="menu">
          <li><a href="{{ url_for('signin') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          {% if 'email' in session %}
          <li><a href="{{ url_for('profile') }}">Command</a></li>
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>        
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
 <center>
    <div class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>
 </center>
  </body>
</html>