{% extends "layout.html" %}
 
{% block content %}
    <div id="wrap">
      <div>
        <div >
            <p style="float:left; width:250px;">logged in as {{ session['email'] }}</p>
        </div>
        <div>
            <h3><b>Controller command page</b></h3>
        </div>
        </div>
            <div>
              <div>
                   <div style="float:left;">
                    Switch all pins:
                    <a href="/profile/off" class="btn btn-danger" role="button">Off</a>
                  </div>
                    <h3>
                    {% if message %}
                        <p style="float:right; width:350px;">Last action:<span class="label label-info">{{ message }}</span>
                        {% else %}
                        <p style="float:right; width:350px;">Last action:<span class="label label-info">No acction</span>
                    {% endif %}
                    </h3>
                  </div>
 			
                <table class="table table-striped">
                {% for pin in pins %}
                    {% if pins[pin].type != "test" %}
                    <tr>
                        <td>
                            <h4>{{ pins[pin].name }}</h4>
                        </td>
                        <!-- Status-->
                        <td>
                            {% if pins[pin].state == true %}
                            	{% if pins[pin].type != "input" %}
                                	Current state: <span class="label label-success">On</span>
                                {% else %}
                                	Current state: <span class="label label-danger">Off</span>
                                {% endif %}
                            {% else %}
                                {% if pins[pin].type != "input" %}
                                	Current state: <span class="label label-danger">Off</span>
                                {% else %}
                                	Current state: <span class="label label-success">On</span>
                                {% endif %}
                            {% endif %}

                        </td>
                        <!-- Button for action-->
                        <td>
                        {% if pins[pin].type != "input" %}
                           {% if pins[pin].state == true %}
                                <a href="/profile/{{pin}}/on" class="btn btn-success disabled" role="button" >On</a>
                                <a href="/profile/{{pin}}/off" class="btn btn-danger" role="button">Off</a>
                                <a href="/profile/{{pin}}/reset" class="btn btn-primary" role="button">Reset</a>
                           {% else %}
                                <a href="/profile/{{pin}}/on" class="btn btn-success" role="button">On</a>
                                <a href="/profile/{{pin}}/off" class="btn btn-danger disabled" role="button">Off</a>
                                <a href="/profile/{{pin}}/reset" class="btn btn-primary  <!--disable-->" role="button">Reset</a>
                           {% endif %}
                        {% endif %}        
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </table>
                </Form>
              </div>
            </div>
          </div>
        <div>
        <small><p class="label label-info">popai Engineering 2016</p></small>
    </div>
{% endblock %}
